.hero {
  display: flex;
  justify-content: center;

  /* height: 20.5em;
  background: #e1e1e1;
  margin: -1em -2.5em 1em;
  font-size: 2em; */
}

.categoryButtons {
  width: 160px;
  height: 60px;
  margin-left: 80px;
  font-size: 2rem;
  color: white;
  background-color: black;
  margin-bottom: 40px;
}

.categoryButtons:hover {
  color: black;
  background-color: white;
}
