.main-container {
  display: flex;
}

.main-titles-container {
  display: flex;
  justify-content: space-around;
}

.preview-container {
  width: 50vw;
  border-right: 2px solid black;
}

.article-list {
  padding-right: 10px;
}

.category-container {
  width: 50%;
}

.category {
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 30px;
}

.preview-title {
  color: black;
}
