.main-container {
  display: flex;
}

.main-titles-container {
  display: flex;
  justify-content: space-around;
}

.preview-container {
  width: 60w;
  border-right: 2px solid rgba(120, 120, 120, 0.5);
}

.article-list {
  padding-right: 10px;
}

.category-container {
  width: 50%;
}

.category {
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 30px;
  text-decoration: none;
  font-size: 2em;
  padding-top: 5px;
}

.category:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
  transition-duration: 0.5s;
}

.preview-title {
  color: black;
}

.heroImage {
  height: 100px;
  max-height: 200px;
}

.blog-title {
  text-align: center;
  font-size: 6rem;
}
.suggested {
  border-bottom: 2px solid rgba(120, 120, 120, 0.5);
}

@media screen and (max-width: 800px) {
  .blog-title {
    text-align: center;
    font-size: 4rem;
  }
  .cat-title {
    font-size: 1rem;
    padding-top: 5px;
  }
  .suggested {
    border-bottom: 2px solid rgba(120, 120, 120, 0.5);
    font-size: 1.3rem;
  }
}

.category-border {
  border-bottom: 2px solid rgba(120, 120, 120, 0.5);
}

.suggested-container {
  font-size: 3rem;
  text-align: center;
}
