.hero {
  position: relative;
  color: black;
  text-align: center;
}

.heroImage {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  height: 61.8vh;
  max-height: 200px;
}

.heroImageBlog {
  max-width: 750px;
  max-height: 500px;
}

@media screen and (min-width: 1600px) {
  .heroImageBlog {
    width: 750px;
    height: 500px;
  }
}

.heroDetails {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  font-size: 14px;
  padding: 0 0.5em;
}

@media (min-width: 600px) {
  .heroDetails {
    font-size: 16px;
  }
}

@media (min-width: 1000px) {
  .heroDetails {
    font-size: 20px;
  }
}

.heroHeadline {
  margin: 0;
}

.heroTitle {
  margin: 0;
  font-size: 1.125em;
  font-weight: bold;
}

.mainImage {
  padding-top: 30px;
}
